* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.calculator{
    width: 50%;
    height:500px;
    margin: 10px auto;
    display: flex;
    border:1px solid black;
    border-radius: 10px;
}
.calc-screen {
    
}